*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background:#c8caca ;
} 

.logo{
    vertical-align: middle;
}

header{
    background: #fff;
    padding: 7px 15px;

}

h1{
    display: inline-block;
    vertical-align: middle;
}

.main{
    background: #fff;
    margin:40px auto;
    width: 800px;
    height: 900px;
    border-radius: 20px;
    
}


.task-button{
    background: #47adf1;
    color:white
}

.button-container{
    padding: 15px 50px 10px 60px;
}

button{
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    border:none;
}

.section-button{
    background: rgb(238, 237, 237);
    color:grey;
}

hr{
    background: #c8caca;
}

.container-list{
    padding-left: 60px;
}

h3{
    margin-bottom:10px;
}

span{
    margin-right: 5px;
}

.list{
    margin-top:25px;
}

.circle{
    border:1px solid rgb(39, 24, 24);
    border-radius: 100%;
    padding: 4px;
    display: inline-block;
}

.circle-green{
    color:green;
    border-color:green;
}

.circle-red{
    color:red;
    border-color:red;
}

.label{
    color:#fff;
    border-radius: 15px;
    padding: 8px 20px;
}

.label-blue{
    background: #47adf1;
}

.label-purple{
    background: #9c72e4;
}

.label-marine{
    background: #64c0a9;
}

.label-orange{
    background: orange;
}

.label-fuchsia{
    background: #d863a1;
}

.label-green{
    background: #b0c926;
}

.elem{
    margin-bottom: 20px;
}